VITE_BASE_API_URL=http://localhost:3000/api
VITE_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJHZW5lcmljIEpXVCIsImlhdCI6MTY5MDY1ODY5MywiZXhwIjoxNzIyMTk0NjkzLCJhdWQiOiJ3d3cuZ2VuZXJpYy5jb20iLCJzdWIiOiJzdWJqZWN0QGdlbmVyaWMuY29tIiwibmFtZSI6IkRpcmxhbiBGZXJyZWlyYSIsImVtYWlsIjoic3ViamVjdEBnZW5lcmljLmNvbSJ9.QWkJT9dbCGUG172EMPa43DwNKOV1b4XejVr5S5S5Cs8